<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Blueprint: Page Stack Navigation</title>
	<meta name="description" content="Blueprint: A basic template for a page stack navigation effect" />
	<meta name="keywords" content="blueprint, template, html, css, page stack, 3d, perspective, navigation, menu" />
	<meta name="author" content="Codrops" />

	<link rel="stylesheet" type="text/css" href="/static/table/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/table/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/table/vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/table/vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/table/vendor/perfect-scrollbar/perfect-scrollbar.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/table/css/util.css">
	<link rel="stylesheet" type="text/css" href="/static/table/css/main.css">

	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/static/home/css/demo.css" />
	<link rel="stylesheet" type="text/css" href="/static/home/css/component.css" />
	<script src="/static/home/js/modernizr-custom.js"></script>



</head>

<body>
	<!-- navigation -->
	<nav class="pages-nav">
		<div class="pages-nav__item"><a class="link link--page" href="#page-home">Home</a></div>
		<div class="pages-nav__item"><a class="link link--page" href="#page-userdetails">User Details</a></div>
		<div class="pages-nav__item"><a class="link link--page" href="#page-fileuploads">File Uploads</a></div>
		<div class="pages-nav__item"><a class="link link--page" href="#page-accessrequest">Access Requests</a></div>
		<div class="pages-nav__item"><a class="link link--page" href="#page-filedownloads">File downloads</a></div>
		<div class="pages-nav__item"><a class="link link--page" href="#page-logout">Logout</a></div>
		<div class="pages-nav__item pages-nav__item--small"><a class="link link--page link--faded" href="#page-buy">Where to buy</a></div>
		<div class="pages-nav__item pages-nav__item--small"><a class="link link--page link--faded" href="#page-blog">Blog &amp; News</a></div>
		<div class="pages-nav__item pages-nav__item--small"><a class="link link--page link--faded" href="#page-contact">Contact</a></div>
		<div class="pages-nav__item pages-nav__item--social">
			<a class="link link--social link--faded" href="#"><i class="fa fa-twitter"></i><span class="text-hidden">Twitter</span></a>
			<a class="link link--social link--faded" href="#"><i class="fa fa-linkedin"></i><span class="text-hidden">LinkedIn</span></a>
			<a class="link link--social link--faded" href="#"><i class="fa fa-facebook"></i><span class="text-hidden">Facebook</span></a>
			<a class="link link--social link--faded" href="#"><i class="fa fa-youtube-play"></i><span class="text-hidden">YouTube</span></a>
		</div>
	</nav>
	<!-- /navigation-->
	<!-- pages stack -->
	<div class="pages-stack">
		<!-- page -->
		<div class="page" id="page-home">
			<!-- Blueprint header -->
			<header class="bp-header cf">
				<span class="bp-header__present">FILE CRYPTO <span class="bp-tooltip bp-icon bp-icon--about" data-content="The file crypto app is the the safest way to store your files.."></span></span>
				<h1 class="bp-header__title">WELCOME ADMIN</h1>
			</header>
				<div class="container" style="background: transparent">
				<div class="row">
					<div class="col-md-12">
					<div class="jumbotron p-3" style="background: transparent">
					<h2>DASH BOARD</h2>
					<br>
					{% with messages = get_flashed_messages() %}

					{% if messages %}

					{% for message in messages %}

					<div class="alert alert-dark alert-dismissible" role="alert">

						<button type="button"  class="close" data-dismiss="alert" aria-label="close">

							<span aria-hidden="true">x</span>

						</button>

					{{message}}

					</div>

					{% endfor %}

					{% endif %}

					{% endwith %}
					</div>
					</div>
				</div>
			</div>
		</div>
		<div class="page" id="page-userdetails">
		<header class="bp-header cf">
			<h1 class="bp-header__title">User Details</h1>
		</header>
				<div class="limiter" style="background: transparent">
					<div class="container-table100" style="background: transparent">
						<div class="wrap-table100" style="background: transparent">

						<div class="table100 ver3 m-b-110">
						<div class="table100-head">
							<table>
								<thead>
									<tr class="row100 head">
										<th class="cell100 column1" >ID</th>
										<th class="cell100 column2">USERNAME</th>
										<th class="cell100 column3">E-MAIL</th>
										<th class="cell100 column5">CREATED ON</th>
										<th class="cell100 column6">STATUS</th>
										<th class="cell100 column7">ACTION</th>
									</tr>
								</thead>
							</table>
						</div>

						<div class="table100-body js-pscroll">
							<table>
								<tbody>
									{% for row in users %}

									<tr class="row100 body">
										<td class="cell100 column1" >{{row[0]}}</td>
										<td class="cell100 column2">{{row[1]}}</td>
										<td class="cell100 column3">{{row[2]}}</td>
										<td class="cell100 column5">{{(row[4])}}</td>
										<td class="cell100 column6">{{row[5]}}</td>
										<td class="cell100 column7">
											{% if 'unauthorised' == row[5]  %}
											<a href="/action/{{row[0]}}"  style="background: #28a745"  type="button" class="btn btn-success">activate</a>
											{% else %}
											<a href="/action/{{row[0]}}"  style="background: red"  type="button" class="btn btn-success">dectivate</a>
											{% endif %}
										</td>
									</tr>
								</tbody>
								{% endfor %}
							</table>
						</div>
					</div>
				</div>
				</div>
				</div>
</div>
		<div class="page" id="page-fileuploads">
			<header class="bp-header cf">
				<h1 class="bp-header__title">FILE UPLOADS</h1>
			</header>
			<div class="container" style="background: transparent">
				<div class="row">
					<div class="col-md-12">
					<div class="jumbotron p-3" style="background: transparent">
					<h2 style="color: #1d1e21">FILE UPLOADED</h2>
						<br>
						<div class="table100 ver3 m-b-110">
						<div class="table100-head">
							<table>
								<thead>
									<tr class="row100 head">
										<th class="cell100 column1">FID</th>
										<th class="cell100 column2">FILENAME</th>
										<th class="cell100 column3">USERMAIL</th>
										<th class="cell100 column4">UPLOADED ON</th>
										<th class="cell100 column7">ACTION</th>
									</tr>
								</thead>
							</table>
						</div>

						<div class="table100-body js-pscroll">
							<table>
								<tbody>
								{% for row in files %}
									<tr class="row100 body">
										<td class="cell100 column1">{{row[0]}}</td>
										<td class="cell100 column2">{{row[1]}}</td>
										<td class="cell100 column3">{{row[2]}}</td>
										<td class="cell100 column4">{{row[3]}}</td>
										<td class="cell100 column7">

											<a href="/delete_file/{{row[0]}}"    type="button" class="btn btn-danger btn-xs" onclick="return confirm('Are U Sure To Delete?')">DELETE</a>

										</td>
									</tr>
								</tbody>
								{% endfor %}
							</table>
						</div>
					</div>
					</div>
					</div>
				</div>
			</div>

		</div>



		<div class="page" id="page-accessrequest">
			<header class="bp-header cf">
				<h1 class="bp-header__title">ACCESS REQUESTS</h1>
			</header>
			<div class="container" style="background: transparent">
				<div class="row">
					<div class="col-md-12">
					<div class="jumbotron p-3" style="background: transparent">
					<h2 style="color: #1d1e21">FILE UPLOADED</h2>
						<br>
						<div class="table100 ver3 m-b-110">
						<div class="table100-head">
							<table>
								<thead>
									<tr class="row100 head">
										<th class="cell100 column1">FID</th>
										<th class="cell100 column2">FILENAME</th>
										<th class="cell100 column3">USERMAIL</th>
										<th class="cell100 column7">ACTION</th>
									</tr>
								</thead>
							</table>
						</div>

						<div class="table100-body js-pscroll">
							<table>
								<tbody>
								{% for row in reqs %}
								{% if row[4]=="NO" %}
									<tr class="row100 body">
										<td class="cell100 column1">{{row[1]}}</td>
										<td class="cell100 column2">{{row[2]}}</td>
										<td class="cell100 column3">{{row[3]}}</td>
										<td class="cell100 column7">

											<a href="/areq/{{row[0]}}"    type="button" class="btn btn-success btn-xs">ACCEPT</a>

										</td>
									</tr>
								</tbody>
								{% endif %}
								{% endfor %}
							</table>
						</div>
					</div>
					</div>
					</div>
				</div>
			</div>

		</div>
		<div class="page" id="page-filedownloads">
			<header class="bp-header cf">
				<h1 class="bp-header__title">FILE DOWNLOADS</h1>
			</header>

		</div>
		<div class="page" id="page-logout">
			<header class="bp-header cf">
				<h1 class="bp-header__title">LOGOUT</h1>
			</header>

		</div>
		<div class="page" id="page-buy">
			<header class="bp-header cf">
				<h1 class="bp-header__title">Where to buy</h1>
				<p class="bp-header__desc">Based on Ilya Kostin's Dribbble shot <a href="https://dribbble.com/shots/2286042-Stacked-navigation">Stacked navigation</a></p>
				<p class="info">
					"When people ask me why I don't eat meat or any other animal products, I say, 'Because they are unhealthy and they are the product of a violent and inhumane industry.'" &mdash;
				</p>
			</header>

		</div>
		<div class="page" id="page-blog">
			<header class="bp-header cf">
				<h1 class="bp-header__title">Blog &amp; News</h1>
				<p class="bp-header__desc">Based on Ilya Kostin's Dribbble shot <a href="https://dribbble.com/shots/2286042-Stacked-navigation">Stacked navigation</a></p>
				<p class="info">
					"The question is not, 'Can they reason?' nor, 'Can they talk?' but rather, 'Can they suffer?" &mdash; Jeremy Bentham
				</p>
			</header>

		</div>
		<div class="page" id="page-contact">
			<header class="bp-header cf">
				<h1 class="bp-header__title">Contact</h1>
				<p class="bp-header__desc">Based on Ilya Kostin's Dribbble shot <a href="https://dribbble.com/shots/2286042-Stacked-navigation">Stacked navigation</a></p>
				<p class="info">
					"Man is the only animal that can remain on friendly terms with the victims he intends to eat until he eats them." &mdash; Samuel Butler
				</p>
			</header>

		</div>
	</div>
	<!-- /pages-stack -->
	<button class="menu-button"><span>Menu</span></button>
	<script src="/static/home/js/classie.js"></script>
	<script src="/static/home/js/main.js"></script>

<!--===============================================================================================-->
	<script src="/static/table/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/table/vendor/bootstrap/js/popper.js"></script>
	<!script src="/static/table/vendor/bootstrap/js/bootstrap.min.js"><!/script>
<!--===============================================================================================-->
	<script src="/static/table/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/table/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
	<script>
		$('.js-pscroll').each(function(){
			var ps = new PerfectScrollbar(this);

			$(window).on('resize', function(){
				ps.update();
			})
		});


	</script>

<!--===============================================================================================-->
	<script src="/static/table/js/main.js"></script>

</body>

</html>
